.container {
display:flex;
margin: 25%;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin-top: 1.6rem;
margin-bottom: 1.6rem;
}

.link-card {
  text-decoration: none;
  color: white;
}

